<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name><![CDATA[modulobanner]]></name>
	<displayName><![CDATA[Modulo insertar Banner]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Modulo para insertar banner]]></description>
	<author><![CDATA[fjrus]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
